<% layout('layouts/default') %>
<h1><%= title %></h1> <a href="/" ><img src="https://www.estiam.com/wp-content/uploads/Dollarphotoclub_48888358-72dpi-NB.jpg" width="20%" height="auto"></a>







<p><img class="aligncenter wp-image-1978" src="https://www.estiam.com/wp-content/uploads/diplome-universitaire.jpg" alt="diplome-universitaire" width="10%" height="auto"></p>