<% layout('layouts/default') %>


<div class="row home-body">


    <h1><%= title %></h1>

    <h2>Vous souhaitez déposer votre candidature ?</h2>
    <h2>Voici le formulaire à compléter.</h2>
    <h4>Pour intégrer ÉSTIAM tout commence par votre formulaire de candidature.</h4>
    <h4>Vous le validez en ligne et vous recevrez immédiatement un message de confirmation.</h4>
    <br>


    <div class="row">
        <div class="panel-group">
            <div class="col-md-4">
                <div class="panel panel-default transparent">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">ADMISSION EN 1ère ANNÉE</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Vous validez votre formulaire d’admission.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Notre Commission d’Admission se réunit tous les lundis et nous pourrons alors vous
                                    confirmer si
                                    vous êtes admissible.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Nous vous convoquerons alors à un entretien d’admission dont le but est de vérifier
                                    ensemble si
                                    ÉSTIAM est le bon choix d’orientation par rapport à votre projet professionnel.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Nous serons alors en mesure de signer avec vous votre Contrat d’Inscription, sous
                                    réserve
                                    d’obtenir votre Baccalauréat en fin d’année scolaire bien entendu.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default transparent">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">ADMISSION EN 2ème, 3ème ou 4ème ANNÉE EN
                                FORMATION INITIALE</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Remplire les Conditions d'admission En 1ère ANNÉE
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Nous vous ferons passer des tests techniques supplémentaires (programmation,
                                    systèmes, réseaux,
                                    bases de données) afin de vérifier avec vous que vous pourrez suivre nos cours à ce
                                    niveau
                                    scolaire. Ces tests sont gratuits.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Votre
                                    Contrat d’Inscription vous sera proposé après la réussite de ces tests.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default transparent">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">
                                ADMISSION EN 2ème, 3ème ou 4ème ANNÉE EN ALTERNANCE
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Remplire les Conditions d'admission EN 2ème, 3ème ou 4ème ANNÉE EN FORMATION
                                    INITIALE
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Nous pourrons alors commencer votre parcours de recrutement au sein d’une de nos
                                    entreprises
                                    partenaires.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    ÉSTIAM vous organise votre rendez-vous avec votre futur employeur en alternance.
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span>
                                    Après décision favorable de l’entreprise, ÉSTIAM s’occupe des démarches
                                    administratives : contrat
                                    de professionnalisation, convention de formation…
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="section-button">
                <div class="section-button-header">
                    <span class="heading">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        <h3>Pas encore Inscrit à Estiam?</h3>
                        <p>Accédez à nos cursus sur un campus ou à distance, profitez de nos ressources et services pédagogiques (adresse email @estiam.com, conférences, cours, librairies) en devenant "Discovery Member" disponible 24h/24 7j/7. C’est gratuit et c'est la première étape de votre succès !</p>
                    </span>
                </div>

                <div class="section-button-sign-up">
                    <a href="#" class="btn btn-block btn-default">Acceder au dossier d'Inscription</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="section-button">
                <div class="section-button-header">
                    <span class="heading">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>

                        <h3>Consulter votre dossier</h3>
                        <p>Si vous avez déjà obtenu votre identifiant sur le campus en ligne de Estiam International University, connectez-vous sans plus attendre, accédez à toutes nos ressources et développez votre potentiel !</p>

                    </span>
                </div>

                <div class="section-button-sign-up">
                    <a href="#" class="btn btn-block btn-default">Connectez-vous</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
    </div>

</div>