<form>
    <div class="panel panel-info">
        <div class="panel-heading">
            Mes telechargements
        </div>

    </div>
    <div class="panel-body">
        <input type="hidden" name="form" value="form_files">
        <div class="form-group col-md-3">
            <label>Pièce d'Identité:</label>
            <select name="cni_type" class="form-control">
                <option value="passport">PASSPORT</option>
                <option value="cni">CNI</option>

            </select>
        </div>

        <div class="form-group col-md-3">
            <label>Numéro de la pièce d'identité:</label>
            <input name="cni_number" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label>Date d'expiration :</label>
            <input name="cni_date" type="text" class="form-control date">
        </div>
        <div class="form-group col-md-3">

            <label for="">Votre pièce d'Identité</label>
            <div class="btn btn-default btn-file drop-zone" data-input="file_cni">
                <div class="progress">
                    <div class="progress-bar active file_cni" role="progressbar"
                         aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                choisir le fichier
                <input type="hidden" name="file_cni"/>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label>Titre de séjour : numéro du titre de séjour:</label>
            <input name="sjr_number" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label>Date d'expiration :</label>
            <input name="sjr_date" type="text" class="form-control date">
        </div>
        <div class="form-group col-md-3">

            <label>Votre Carte de Séjour</label>

            <div class="btn btn-default btn-file drop-zone" data-input="file_sjr">
                <div class="progress">
                    <div class="progress-bar active file_sjr" role="progressbar"
                         aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                choisir le fichier
                <input type="hidden" name="file_sjr"/>
            </div>

        </div>
        <div class="form-group col-md-4">

            <label>Dernier bulletin scolaire</label>

            <div class="btn btn-default btn-file drop-zone" data-input="file_blt_last">
                <div class="progress">
                    <div class="progress-bar active file_blt_last" role="progressbar"
                         aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                choisir le fichier
                <input type="hidden" name="file_blt_last"/>
            </div>

        </div>
        <div class="form-group col-md-4">
            <label>Bulletin scolaire précédent</label>

            <div class="btn btn-default btn-file drop-zone" data-input="file_blt_prev">
                <div class="progress">
                    <div class="progress-bar active file_blt_prev" role="progressbar"
                         aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                choisir le fichier
                <input type="hidden" name="file_blt_prev"/>
            </div>

        </div>
        <div class="form-group col-md-4">

            <label>Diplôme le plus élevé</label>

            <div class="btn btn-default btn-file drop-zone" data-input="file_dlp">
                <div class="progress">
                    <div class="progress-bar active file_dlp" role="progressbar"
                         aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                choisir le fichier
                <input type="hidden" name="file_dlp"/>
            </div>

        </div>
    </div>
</form>
