<div class="panel panel-info">
    <div class="panel-heading">
        dernière année scolaire
    </div>
    <div class="panel-body">
        <form action="">
            <div class="form-group col-md-4">
                <label>Dernière année scolaire:</label>
                <select class="form-control">
                    <option>2015-2016</option>
                    <option>2014-2015</option>
                    <option>2013-2014</option>
                    <option>Autres</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Précisez :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Dernier établissement scolaire :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Adresse :</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Complément adresse :</label>
                <textarea class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Pays :</label>
                <input type="text" class="form-control country">
            </div>
            <div class="form-group col-md-4">
                <label>Ville :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>Code Postal :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Classe :</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Spécialité :</label>
                <textarea class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Niveau scolaire:</label>
                <select class="form-control">
                    <option>Bac+5</option>
                    <option>Bac+4</option>
                    <option>Bac+3</option>
                    <option>Bac+2</option>
                    <option>Bac+1</option>
                    <option>Terminale</option>
                    <option>Autres</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Précisez :</label>
                <input type="text" class="form-control">
            </div>


        </form>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        Année scolaire précédente
    </div>
    <div class="panel-body">
        <form action="">
            <div class="form-group col-md-4">
                <label>Dernière année scolaire:</label>
                <select class="form-control" data-validation="required">
                    <option>2013-2014</option>
                    <option>2012-2013</option>
                    <option>2011-2012</option>
                    <option>Autres</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label>Précisez :</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-md-12">
                <label>Établissement scolaire fréquenté l'année dernière :</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">identique à l'établissement fréquenté l'année suivante
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">différent de l'établissement fréquenté l'année
                        suivante
                    </label>
                </div>

            </div>


            <div class="form-group col-md-6">
                <label>Adresse :</label>
                <textarea data-validation="alphanumeric"  data-validation-allowing="-_'àèé" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Complément adresse :</label>
                <textarea data-validation="alphanumeric"  data-validation-allowing="-_'àèé"  class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Pays :</label>
                <input  data-validation="alphanumeric"  data-validation-allowing="-_'àèé" type="text" class="form-control country">
            </div>
            <div class="form-group col-md-4">
                <label>Ville :</label>
                <input data-validation="alphanumeric"  data-validation-allowing="-_'àèé" type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>Code Postal :</label>
                <input data-validation="number" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Classe :</label>
                <textarea data-validation="length" data-validation-length="min2" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Spécialité :</label>
                <textarea data-validation="length" data-validation-length="min2"class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Niveau scolaire:</label>
                <select class="form-control" data-validation="required">
                    <option>Bac+5</option>
                    <option>Bac+4</option>
                    <option>Bac+3</option>
                    <option>Bac+2</option>
                    <option>Bac+1</option>
                    <option>Terminale</option>
                    <option>Autres</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Précisez :</label>
                <input type="text" class="form-control">
            </div>


        </form>
    </div>
</div>