<div class="panel panel-info">
    <div class="panel-heading">
        Voeux
    </div>
    <div class="panel-body">
        <form action="">
            <div class="form-group col-md-6">
                <label>Je demande mon admission en classe:</label>
                <select class="form-control">
                    <option>1ère année en formation initiale (admission post-Bac)</option>
                    <option>2ème année en formation initiale</option>
                    <option>3ème année en formation initiale</option>
                    <option>4ème année (en alternance, contrat de professionnalisation)</option>
                    <option>4ème année en formation initiale</option>
                    <option>5ème année (en alternance, contrat de professionnalisation)</option>
                    <option>5ème année en formation initiale</option>
                    <option>Autres</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label>Cursus :</label>
                <div class="radio">
                    <label class="radio">
                        <input type="radio" name="optradio">Cursus informatique et numérique (Bac à Bac+5)
                    </label>
                    <label class="radio">
                        <input type="radio" name="optradio">Cursus ÉSTIAM Digital Médias (Bac+4 et Bac+5)
                    </label>
                    <label class="radio">
                        <input type="radio" name="optradio">Cursus ÉSTIAM Finance (Bac+4 et Bac+5)
                    </label>
                    <label class="radio">
                        <input type="radio" name="optradio">Cursus ÉSTIAM Enterprise Mobile Management (Bac+4 et Bac+5)
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Si autre, précisez :</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Campus souhaité :</label>
                <div class="radio">
                    <label class="radio">
                        <input type="radio" name="optradio">Paris
                    </label>
                    <label class="radio">
                        <input type="radio" name="optradio">Lille
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label>Pourquoi choisir Estiam:</label>
                <textarea name="message"
                          data-validation="length custom" data-validation-regexp="^([a-zA-Z\s\S]+)$"
                          data-validation-length="min2" class="form-control">

                </textarea>
            </div>

        </form>
    </div>

</div>