<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Luciano Resende">

<!-- styles -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel="stylesheet" href="/node_modules/jquery-datetimepicker/jquery.datetimepicker.css">
<link rel="stylesheet" href="/node_modules/country-select-js/build/css/countrySelect.min.css">
<link rel="stylesheet" href="/node_modules/jquery-wizard/dist/css/wizard.min.css">
<link href="/stylesheets/user_style.css" rel="stylesheet">

<script src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
